aws_region   = "us-east-1"
project_name = "fcg"
environment  = "prod"

# Replace with your GitHub org/user and repository names
github_org = "your-org"
github_repos = [
  "Fase4-FCG-Orchestrator",
  "Fase4-FCG-UsersAPI",
  "Fase4-FCG-CatalogAPI",
  "Fase4-FCG-PaymentsAPI",
  "Fase4-FCG-NotificationsAPI",
  "Fase4-FCG-Frontend"
]
